@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@mixin Dinamic-text-title($min: 16px, $max: 24px) {
    font-size: clamp(#{$min}px, #{$max / 1920 * 100}vw, #{$max}px);
}

* {
    margin: 0;
}

.cnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    @include Dinamic-text-title(72, 96);
    text-align: center;
    padding: 0 30px;
}

h2 {
    color: #fff;
    @include Dinamic-text-title(28, 42);
    text-align: center;
    padding: 0 30px;
}

h3 {
    color: #fff;
    @include Dinamic-text-title(18, 24);
    text-align: center;
    padding: 0 30px;
}

p {
    color: #fff;
    @include Dinamic-text-title(14, 16);
    text-align: center;
    margin-top: 12px;
    color: #3C8A9B;
    padding: 0 50px;
    line-height: 23px;
}

body {
    margin: 0;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;

    .content {
        flex-direction: column;
        justify-content: normal;
        width: 100%;
        height: 200vh;
        background-image: url("../img/React.svg");
        background-position: center 216px;
        background-repeat: no-repeat;
        background-size: 125%;
        background-color: #000;

        .header {
            margin-top: 270px;
        }
    }

    .blocks {
        flex-direction: column;

        .download-block {
            overflow: hidden;
            flex-direction: row;
            justify-content: start;
            width: 1128px;
            height: 501px;
            margin-top: 266px;
            border-radius: 27px;
            background-color: #021417;

            .download-form {
                margin-left: 73px;
                flex-direction: column;
                align-items: start;

                h2 {
                    width: 150%;
                    padding: 0;
                    text-align: left;
                    color: rgb(255, 255, 255);
                }

                p {
                    padding: 0;
                    text-align: left;
                }

                button {
                    margin-top: 69px;
                    border-radius: 35px;
                    padding: 14px 101px;
                    border: none;
                    @include Dinamic-text-title(12, 16);
                    font-weight: bold;
                }
            }

            img {
                margin-left: 180px;
            }
        }

        .download-demo-block {
            flex-direction: row;
            justify-content: space-between;
            width: 1128px;
            height: 183px;
            margin-top: 33px;
            border-radius: 27px;
            border: 1px solid #103239;

            .download-demo-form {
                p {
                    margin: 0;
                    margin-left: 73px;
                    padding: 0;
                }
            }

            .btn-demo {
                margin-right: 73px;
                padding: 20px 154px;
                border-radius: 20px;
                border: 1px solid #103239;
                background-color: inherit;

                h3 {
                    @include Dinamic-text-title(18, 24);
                    text-align: center;
                    color: #76E6FF;
                }

                p {
                    @include Dinamic-text-title(12, 16);
                    margin: 0;
                    text-align: center;
                    color: rgba($color: #fff, $alpha: .4);
                }
            }
        }

        .title-2 {
            margin-top: 84px;
        }

        .informations-blocks {
            flex-direction: row;
            gap: 20px;
            margin-top: 49px;
            width: 1128px;
            height: 425px;

            .info-block {
                justify-content: start;
                align-items: start;
                width: 100%;
                height: 100%;
                border-radius: 27px;
                background-color: #021417;

                ul {
                    margin: 73px;
                    padding: 0;
                    list-style-type: none;

                    li {
                        display: flex;
                        flex-direction: column;
                        gap: 23px;

                        .info-block-items {
                            display: flex;
                            flex-direction: column;
                            gap: 23px;
                        }
                    }
                }

                h3 {
                    text-align: left;
                    margin: 0;
                    padding: 0;
                }

                p {
                    text-align: left;
                    margin: 0;
                    padding: 0;
                    color: rgba($color: #fff, $alpha: .7);
                }
            }
        }

        .footer {
            @include Dinamic-text-title(12, 16);
            margin: 107px 0 40px;
            padding: 0 50px;
            text-align: center;
            color: rgba($color: #fff, $alpha: .4);
        }
    }
}

@media screen and (max-width: 1260px) {
    h1 {
        @include Dinamic-text-title(64, 124);
    }

    h2 {
        @include Dinamic-text-title(22, 58);
    }

    p {
        @include Dinamic-text-title(13, 15);
    }

    .content {
        background-size: 200% !important;
    }

    .blocks {
        width: 800px;
    }

    .informations-blocks {
        width: 100% !important;
        height: 590px !important;

        .info-block {
            height: 100% !important;
        }
    }

    .download-block {
        width: max(100%) !important;
    }

    .download-demo-block {
        width: max(100%) !important;

        .btn-demo {
            padding: 20px 4vw !important;
        }
    }
}

@media screen and (max-width: 930px) {
    .content {
        background-size: 400% !important;
    }

    .blocks {
        width: 500px;
    }

    .download-block {
        flex-direction: column !important;

        .download-form {
            align-items: center !important;
            margin: 0 !important;
            margin-top: 80px !important;

            h2 {
                width: 80vw !important;
                text-align: center !important;
            }

            p {
                width: 70vw !important;
                text-align: center !important;
            }
        }

        img {
            margin: 50px !important;
        }
    }

    img {
        margin-top: 150px !important;
        margin-left: 0px !important;
    }

    .download-demo-block {
        flex-direction: column !important;

        .btn-demo {
            margin: 0 !important;
            margin-bottom: 30px !important;

            p {
                margin: 0 !important;
            }
        }

        p {
            margin: 0 !important;
            margin-top: 30px !important;
        }
    }

    .btn-demo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60% !important;

        h3 {
            padding: 0;
        }

        p {
            padding: 0;
        }
    }

    .informations-blocks {
        flex-direction: column !important;
        height: auto !important;
    }
}

@media screen and (max-width: 620px) {
    .blocks {
        width: 320px;

        .download-block {
            .download-form {
                width: 100%;
                margin-top: 40px !important;

                h2 {
                    width: 80% !important;
                }

                p {
                    width: 80% !important;
                }
            }
        }

        .info-block {
            ul {
                margin: 50px 40px !important;
            }
        }
        .info-block-items {
            width: 100% !important;
        }
    }
}